<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style-profile.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- NAV BAR -->
<ul class="nav nav-tabs">
  <li role="presentation"><a href="{% url 'index' %}">Home</a></li>
  <li role="presentation"><a href="{% url 'closet' %}">My Closet</a></li>
  <li role="presentation"><a href="{% url 'profile' %}">Profile</a></li>
  <li role="presentation"><a href="{% url 'friends' %}">My Friends</a></li>
  <li role="presentation"><a href="{% url 'weather' %}">Weather</a></li>
  <li role="presentation"><a href="{% url 'about' %}">About</a></li>
  <form class="form-inline my-2 my-lg-0 pull-right">
    <input class="form-control mr-sm-2" type="text" name="input_text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Users</button>
  </form>
  {% if user.is_authenticated %}
    <li role="presentation" class="pull-right"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
    <li role="presentation" class="pull-right navbar-text"> {{ user.get_username }} </li>
  {% else %}
    <li role="presentation" class="pull-right"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
  {% endif %}
</ul>

<!-- Page Content -->
<div class="container-fluid">

  <!-- Jumbotron Profile Title -->
  <div class="jumbotron row">

    <!-- Profile Picture and Name -->
    <div class="row">
      <!-- Profile Picture -->
      <div class="col-xs-12 col-sm-2 col-md-2">
        <img src="{{ searched_user.profile_picture }}" class="rounded img-responsive" alt="searched_user_Picture" width="200" height="200">
      </div>
      <!-- Profile Name -->
      <div class="col-xs-12 col-sm-10 col-md-10">
        <h1 class="display-3">{{ searched_user.display_user_name }}'s Page</h1>
        <hr>
        <!-- Profile Description -->
        <p class="lead">{{ searched_user.description }}</p>
      </div>
    </div>

  </div>

  <!-- User Information and Previous Outfit Display List -->
  <div class="row">

    <!-- Profile Characteristics -->
    <div class="col-xs-12 col-sm-4 col-md-4 info">
      <h1>User Information</h1>
      <hr>
      <dl>
        <dt>Full Name</dt>
        <dd>{{ searched_user.user.first_name }} {{ searched_user.user.last_name }}</dd>
      </dl>
      <dl>
        <dt>Gender</dt>
        <dd>{{ searched_user.gender }}
      </dl>
      <dl>
        <dt>Location of Residence</dt>
        <dd><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ searched_user.residence }}</dd>
      </dl>
      <dl>
        <dt>Phone Number</dt>
        <dd>{{ searched_user.phone }}
      </dl>
      <dl>
        <dt>Email</dt>
        <dd>{{ searched_user.display_email }}</dd>
      </dl> 
    </div>

    <!-- Outfits from previous days -->
    <div class="col-xs-12 col-sm-4 col-md-4 previous">
      <h1>Previous Outfits</h1>
      <hr>

      <div class="previous display">

        <!-- Previous Outfits -->
        {% for outfit in searched_user.previous_outfits %}
        <div class="row">
          <dl>
            <dt class="text-center">{{ outfit.outfit_name }}</dt>
            <dd>
              {% for clothing in outfit.clothing.all %}
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>{{ clothing.clothing_name }}</dt>
                  <dd><img src="{{ clothing.clothing_picture }}" class="img-responsive" alt="{{ clothing.clothing_type }}"></dd>
                </dl>
              </div>
              {% endfor %}
            </dd>
          </dl>
        </div>
        {% endfor %}

      </div>

    </div>

    <!-- Favorite Outfits -->
    <div class="col-xs-12 cols-sm-4 col-md-4 favorite">
      <h1>Favorite Outfits</h1>
      <hr>

      <div class="favorite display">

        <!-- First Favorite Outfit -->
        {% for outfit in searched_user.favorite_outfits %}
        <div class="row">
          <dl>
            <dt class="text-center">{{ outfit.outfit_name }}</dt>
            <dd>
              {% for clothing in outfit.clothing.all %}
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>{{ clothing.clothing_name }}</dt>
                  <dd><img src="{{ clothing.clothing_picture }}" class="img-responsive" alt="{{ clothing.clothing_type }}"></dd>
                </dl>
              </div>
              {% endfor %}
            </dd>
          </dl>
        </div>
        {% endfor %}

      </div>

    </div>

  </div>

</body>
</html>
