h1
	{
	
	position: center;
	background-color: #ecc845;
	outline-color: #B10000;
	padding: 20px;
	width: 80%;
    top: .5em;
	font-size: 1.5em;
	font-family: futura;
	text-align: center;
}

p {
	margin: auto;
	margin-top: 4em;
	
	position: center;
	padding: 20px;
	width: 60%;
    top: 7em;
    right: 1em;
	font-size: 1.5em;
	font-family: futura;
	text-align: center;
}


a {
	text-decoration: none;
	color: white;
}




#fixedbutton {
    position: fixed;
    text-align: center;
    bottom: 20px;
    left: 10px; 
    padding: 14px 16px;
    width: 3em;
    margin: auto;
   	background-color: black;
   	border-color: #ac2c23;
   	border-radius: 50px;
   	border-width: 10px;	
    font-family: Verdana;
    font-size: 2em;
    color: white;
   
}

p:hover {
    background-color: black;
}