<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>
<ul class="nav nav-tabs">
  <li role="presentation"><a href="{% url 'index' %}">Home</a></li>
  <li role="presentation"><a href="{% url 'closet' %}">My Closet</a></li>
  <li role="presentation"><a href="{% url 'profile' %}">Profile</a></li>
  <li role="presentation"><a href="{% url 'friends' %}">My Friends</a></li>
  <li role="presentation"><a href="{% url 'weather' %}">Weather</a></li>
  <li role="presentation"><a href="{% url 'about' %}">About</a></li>
  <form class="form-inline my-2 my-lg-0 pull-right" action="{% url 'search-users' %}" method="get">
    <input class="form-control mr-sm-2" type="text" name="input_text" placeholder="Search Users">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  {% if user.is_authenticated %}
    <li role="presentation" class="pull-right"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
    <li role="presentation" class="pull-right navbar-text"> {{ user.get_username }} </li>
  {% else %}
    <li role="presentation" class="pull-right"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>   
  {% endif %}
</ul>

  <h1>What's the Weather Like?</h1>

			<h2><img class="whe" src="images/sun.png" alt="" />Today is {{ date.date }}</h2>
			
		
				<p>{{ date }}
				<img src="images/cloudy.png" alt="" />
				20°</p>
			
					<p>{{ date.date }}<br>
					{{ date.date|date:"l" }}</p>
			
			
			<h2>{{ date2 }}
			<img src="images/sunn.png" alt="" />
			37°</h2>
			
					<p>{{ date2.date }}
						<br>
					{{ date2.date|date:"l" }}</p>
				
			
			
				<h2>{{ date3 }}
				<img src="images/rain.png" alt="" />
				7°</h2>
				
					<p>{{ date3.date }}<br>
					{{ date3.date|date:"l" }}</p>
				
			
			<h2>{{ date4 }}
			<img src="images/rain.png" alt="" />
			-10°</h2>
			
					<p>{{ date4.date }}<br>
					{{ date4.date|date:"l" }}</p>
			

</body>
</html>
