<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style-profile.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- NAV BAR -->
<ul class="nav nav-tabs">
  <li role="presentation"><a href="index.html">Home</a></li>
  <li role="presentation"><a href="closet.html">My Closet</a></li>
  <li role="presentation"><a href="profile.html">Profile</a></li>
  <li role="presentation"><a href="friends.html">My Friends</a></li>
  <li role="presentation"><a href="weather.html">Weather</a></li>
</ul>

<!-- Page Content -->
<div class="container-fluid">

  <!-- Jumbotron Profile Title -->
  <div class="jumbotron row">

    <!-- Profile Picture and Name -->
    <div class="row">
      <!-- Profile Picture -->
      <div class="col-xs-12 col-sm-2 col-md-2">
        <img src="MaleAvatar.png" class="rounded img-responsive" alt="User_Profile_Picture" width="200" height="200">
      </div>
      <!-- Profile Name -->
      <div class="col-xs-12 col-sm-10 col-md-10">
        <h1 class="display-3">Amal's Page</h1>
        <hr>
        <!-- Profile Description -->
        <p class="lead">I am a UMass Student. I have questionable fashion sense. Please be my friend!</p>
      </div>
    </div>

  </div>

  <!-- User Information and Previous Outfit Display List -->
  <div class="row">

    <!-- Profile Characteristics -->
    <div class="col-xs-12 col-sm-4 col-md-4 info">
      <h1>User Information</h1>
      <hr>
      <dl>
        <dt>Full Name</dt>
        <dd>Amal Reyes</dd>
      </dl>
      <dl>
        <dt>Nickname</dt>
        <dd>Molly</dd>
      </dl>
      <dl>
        <dt>Location of Residence</dt>
        <dd><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Amherst, MA</dd>
      </dl>
      <dl>
        <dt>Email</dt>
        <dd>TestEmail</dd>
      </dl> 
      <dl>
        <dt>Member Since</dt>
        <dd>1 October 2017</dd>
      </dl>
      <!-- Edit Profile Button -->
      <p class="lead">
        <a class="btn btn-default btn-sm" href="#" role="button">Edit Profile</a>
      </p>
    </div>

    <!-- Outfits from previous days -->
    <div class="col-xs-12 col-sm-4 col-md-4 previous">
      <h1>Previous Outfits</h1>
      <hr>

      <div class="previous display">

        <!-- Yesterday Outfit -->
        <div class="row">
          <dl>
            <dt class="text-center">Yesterday</dt>
            <dd>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Sweatshirt</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-470698-1.jpg" class="img-responsive" alt="Sweatshirt"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Shirt</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-438941-1.jpg" class="img-responsive" alt="Shirt"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Pants</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-454391-1.jpg" class="img-responsive" alt="Pants"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Socks</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-475089-1.jpg" class="img-responsive" alt="Socks"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Shoes</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-473675-1.jpg" class="img-responsive" alt="Shoes"></dd>
                </dl>
              </div>
            </dd>
          </dl>
        </div>

        <!-- Two Days Ago Outfit -->
        <div class="row">
          <dl>
            <dt class="text-center">Two Days Ago</dt>
            <dd>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Hat</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-473514-2.jpg" class="img-responsive" alt="Hat"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Shirt</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-438941-2.jpg" class="img-responsive" alt="Shirt"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Pants</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-473574-1.jpg" class="img-responsive" alt="Pants"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Socks</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-473553-1.jpg" class="img-responsive" alt="Socks"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Shoes</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-473674-1.jpg" class="img-responsive" alt="Shoes"></dd>
                </dl>
              </div>
            </dd>
          </dl>
        </div>

        <!-- Three Days Ago Outfit -->
        <div class="row">
          <dl>
            <dt class="text-center">Three Days Ago</dt>
            <dd>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Shirt</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-453549-1.JPG" class="img-responsive" alt="Shirt"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Pants</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-473287-1.jpg" class="img-responsive" alt="Pants"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Socks</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-475090-1.jpg" class="img-responsive" alt="Socks"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Shoes</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-457703-1.jpg" class="img-responsive" alt="Shoes"></dd>
                </dl>
              </div>
            </dd>
          </dl>
        </div>

        <!-- Four Dys Ago Outfit -->
        <div class="row">
          <dl>
            <dt class="text-center">Four Days Ago</dt>
            <dd>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Sweatshirt</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-470698-1.jpg" class="img-responsive" alt="Sweatshirt"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Shirt</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-438941-1.jpg" class="img-responsive" alt="Shirt"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Pants</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-454391-1.jpg" class="img-responsive" alt="Pants"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Socks</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-475089-1.jpg" class="img-responsive" alt="Socks"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Shoes</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-473675-1.jpg" class="img-responsive" alt="Shoes"></dd>
                </dl>
              </div>
            </dd>
          </dl>
        </div>

        <!-- Five Days Ago Oufit -->
        <div class="row">
          <dl>
            <dt class="text-center">Five Days Ago</dt>
            <dd>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Shirt</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-453549-1.JPG" class="img-responsive" alt="Shirt"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Pants</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-473287-1.jpg" class="img-responsive" alt="Pants"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Socks</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-475090-1.jpg" class="img-responsive" alt="Socks"></dd>
                </dl>
              </div>
              <div class="col-xs-2 col-sm-2 col-md-2">
                <dl>
                  <dt>Shoes</dt>
                  <dd><img src="http://umassstore.com/StoreImages/266-457703-1.jpg" class="img-responsive" alt="Shoes"></dd>
                </dl>
              </div>
            </dd>
          </dl>
        </div>

      </div>

    </div>

    <!-- Favorite Outfits -->
    <div class="col-xs-12 cols-sm-4 col-md-4 favorite">
      <h1>Favorite Outfits</h1>
      <hr>

      <div class="favorite display">

        <!-- First Favorite Outfit -->
        <div class="row">
          <!-- Shirt -->
          <div class="col-xs-2 col-sm-2 col-md-2">
            <dl>
              <dt>Shirt</dt>
              <dd><img src="http://umassstore.com/StoreImages/266-523327-1.jpg" class="img-responsive" alt="Shirt"></dd>
            </dl>
          </div>
          <!-- Pants -->
          <div class="col-xs-2 col-sm-2 col-md-2">
            <dl>
              <dt>Pants</dt>
              <dd><img src="http://umassstore.com/StoreImages/266-474853-1.jpg" class="img-responsive" alt="Pants"></dd>
            </dl>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2">
            <dl>
              <dt>Socks</dt>
              <dd><img src="http://umassstore.com/StoreImages/266-473554-1.jpg" class="img-responsive" alt="Socks"></dd>
            </dl>
          </div>
           <div class="col-xs-2 col-sm-2 col-md-2">
            <dl>
              <dt>Shoes</dt>
              <dd><img src="http://umassstore.com/StoreImages/266-473673-1.jpg" class="img-responsive" alt="Shoes"></dd>
            </dl>
          </div>
        </div>
      </div>

    </div>

  </div>

</body>
</html>
